/venv/
/.idea/.gitignore
/.idea/xygui.iml
/.idea/sonarlint/securityhotspotstore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
/.idea/sonarlint/issuestore/index.pb
/.idea/sonarlint/issuestore/f/5/f5963f2c49fff6dd5b7ab767c95ace0881322ac1
/.idea/misc.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/sonarlint/securityhotspotstore/f/5/f5963f2c49fff6dd5b7ab767c95ace0881322ac1
/.idea/modules.xml
/.idea/sonarlint/securityhotspotstore/a/3/a369dd4e6866ff099535d99645e0909da093e01d
/.idea/vcs.xml
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/sonarlint/issuestore/a/5/a5cc2925ca8258af241be7e5b0381edf30266302
/.idea/sonarlint/issuestore/a/3/a369dd4e6866ff099535d99645e0909da093e01d
